[submodule "public/wordpress"]
	path = public/wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "public/content/plugins/timber"]
	path = public/content/plugins/timber
	url = git@github.com:jarednova/timber.git
[submodule "public/content/plugins/wp-plugin-dependencies"]
	path = public/content/plugins/wp-plugin-dependencies
	url = git@github.com:x-team/wp-plugin-dependencies.git
[submodule "public/content/plugins/custom-post-type-ui"]
	path = public/content/plugins/custom-post-type-ui
	url = git@github.com:WebDevStudios/custom-post-type-ui.git
